/* ------------------- ANSWERS LIST ------------------- */
table {
  border-spacing: 0px 10px;
}

.answers-list {
  --list-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  width: 100%;
  min-height: var(--list-height);
  max-height: var(--list-height);
  overflow-y: auto;
}

/* ------------------- ANSWER CONTROLS ------------------- */
.answer-controls {
  display: flex;
  justify-content: center;
}

.answer-btn {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 8px;
  background-color: var(--detailOrange);
  color: var(--darkBlue);
  font-weight: bold;
  font-size: 1em;
  border: 2px solid #000;
}
