/* ------------------- QUIZ FORM ------------------- */
.quizform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* text-align: center; */
  height: 100%;
  width: 100%;
  overflow: auto;
}

/* ------------------- QUIZ NAME ------------------- */
.name-input-container {
  border-bottom: 2px solid black; /*change to dark blue probably*/
  padding: 10px;
}

/* ------------------- QUIZME GLOBAL INPUT FIELDS ------------------- */
.quizme-input {
  width: 75%;
  border: 3px solid var(--detailOrange);
  border-radius: 20px;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  background-color: var(--lightBlue);
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
  text-align: center;
}

.quizme-input:focus {
  border-color: var(--detailOrange);
  box-shadow: 0 0 10px 0 var(--detailOrange);
  background-color: #00b7ff;
}

.quizme-input:hover {
  border-color: var(--detailOrange);
  box-shadow: 0 0 8px 0 var(--detailOrange);
}

.quizme-input::placeholder {
  color: var(--darkBlue);
  opacity: 0.6;
  font-style: italic;
}

/* ------------------- QUESTIONS ------------------- */
.question-list {
  height: 100%;
  margin: 1rem 0;
  overflow-y: auto;
}

/* ------------------- CONTROLS ------------------- */
.form-controls {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border-top: 2px solid black; /*change to dark blue probably*/
}
.form-controls > button {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 15px 55px;
  border-radius: 15px;
}