.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 1rem 1rem;
  margin-bottom: 0.3rem;
  background-color: #555;
  border-radius: 15px;
  text-align: left;
}
