/* ------------------- QUESTION COMPONENT ------------------- */
.question-component {
  color: #fff;
  display: grid;
  grid-template-areas: 
    "id question buttons"
    "id answers-length buttons";

  grid-template-columns: 1fr 8fr 2fr;
  grid-template-rows: 2fr 1fr;
  padding: 0.7rem 0.5rem;
  margin-bottom: 0.3rem;
  border-radius: 15px;
  background-color: var(--darkBlue);
}

.question-component:hover {
  background-color: #183bb3;
}

.pending-delete {
  background-color: #c00;
}

.pending-delete:hover {
  background-color: #b00;
}

/* ------------------- QUESTION COMPONENT SECTIONS ------------------- */
.centered > * {
  display: flex;
  align-items: center;
}

.question-id {
  grid-area: id;
  margin-left: 1rem;
}

.question-section {
  grid-area: question;
  align-items: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.answers-length {
  grid-area: answers-length;
  font-size: 0.7rem;
}

.question-controls {
  grid-area: buttons;
}

.confirmation {
  justify-content: center;
}

/* ------------------- QUESTION CONTROLS BUTTONS ------------------- */
.question-btn {
  cursor: pointer;
  margin: 0rem 0.6rem;
  padding: 0rem;
  background: none;
  border: none;
}

.question-btn > span {
  font-size: 2.5em;
}

#delete {
  color: red;
}

#edit {
  color: var(--detailOrange);
}

#confirm {
  color: #0f0;
}
