.answer {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}

#answer-id {
  font-weight: bold;
  font-size: 1.2em;
}

@keyframes fadeIn {
  0% { opacity: 0; }

  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }

  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }

  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }

  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }

  100% { opacity: 1; }
}

/* -------------------- INPUT WITH NAME ANSWER -------------------- */
input[name='answer'] {
  width: 100%;
}

/* -------------------- RADIO BUTTONS -------------------- */
.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  border: 4px solid var(--darkBlue);
  padding: 5px;
  cursor: pointer;
  transition: .3s;
  background: radial-gradient(farthest-side, var(--detailOrange) 96%, #0000) 50%/0 0 no-repeat content-box;
}

.radio:checked {
  background: var(--detailOrange) content-box;
  border-color: var(--detailOrange);
  background-size: 100% 100%;
}
