.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  height: 550px;
  width: 100%;
  max-width: 650px;
  --border-radius: 20px;
  border-radius: var(--border-radius);
  border: 4px solid var(--darkBlue);
  background-color: var(--lightBlue);
}
